body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
  margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

/* top bar */
#supportWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

/* ALL links white */
#supportHero a {
  color: white;
  text-decoration: none;
}

#supportHero a:hover {
  text-decoration: underline;
}

/* input styling */
#supportHero input {
  padding: 16px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  outline: none;
}

